.containerColorNav{
    width: 100%;
    height: 60px;
    background: #FBFBFB;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
}
.containerImgUserNav2{
    display: flex;
    align-items: center;
}
        .imgNav{
            height: 21px;
        }
    .containerTwoNav{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        margin: 0px 50px 0px 120px;
        box-sizing: border-box;
    }
        .containerInputNav{
            padding: 4px;
            background: #FFFFFF;
            box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 4px;
            border:0;
            width: 300px;
            height: 30px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
        }
            .inputNav{
                border: 0px;
                background: transparent;
                outline: none;
                padding-left: 7px;
            }

            .image_buscar {
                width: 17px;
                border: 0px;
            }

        .containerNavTwo{
            display: flex;
            width: 40%;
            justify-content: space-between;
        }
        .containerBtnsNav{
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
            .btnNav{
                border: 0px;
                background-color: Transparent;
                cursor: pointer;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #A0A0B3;
                font-size: 13px;
                margin: 0px 5px 0px 5px;
            }
            
        .containerImgUserNav{
            display: flex;
            align-items: center;
            width: 100%;
            margin-left: 10px;
            justify-content: flex-end;
        }
            .imgUserNav{
                height: 42px;
                border-radius: 50%;
            }

            .dropdownContent {
                right: 0;
                display: none;
                position: absolute;
                box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.08);
                z-index: 1;
                background-color: #FFFFFF;
                border-radius: 4px;
                color: black;
                margin-top: 20px;
                margin-right: 55px;
            }
            
            .logout {
                border: 0px;
                background-color: Transparent;
                cursor: pointer;
                outline: none;

                text-align: end;
                height: 30px;
                display: block;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                color: black;
                border-radius: 4px;
            }

            .containerSignOutUserNav:hover .dropdownContent {display: block;}

            .containerBtnPoits{
                display: flex;
            }
            .containerNameAndPoints{
                margin-left: 8px;
                width: 80px;
            }
            .nameNav{
                color: #3B3B46;
                margin: 0px;
            }
            .pointsNav{
                color: #A0A0B3;
                font-size: 11px;
                margin: 0px;
            }
            .containerSignOutUserNav{
                display: flex;
            }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 730px){
    .containerInputNav{
        width: 200px;
    }
    .containerTwoNav{
        justify-content: flex-end;
        margin: 0px 100px 0px 0px;

    }
}
