@import "./styles/_Contacts";
@import "./styles/_Nav";
@import "./styles/_Menu";
@import "./styles/_LogIn";
@import "./styles/_Welcome";
@import "./styles/_Tittle";
@import "./styles/_Modal";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FEFAEE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
